@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&family=Gabarito&family=Montserrat:wght@400;500;700;900&family=Poppins:wght@400;700&family=Roboto&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: none;
  }

::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

::-webkit-scrollbar-thumb {
    background: rgb(117, 117, 117) ;
    width: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: rgba(0,0,0,0);
  }